body {
    background-color: #d3d3d3;
}

#bluebox {
    background-color: #4072ED;
    text-align: center;
    height: 80px;
    width: 240px;
    margin-bottom: 0px;
    display: inline-block;
    margin: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: relative; 
    border: 1px solid black;
    z-index: 1; 
}

#profilepic {
    border: 2px solid white;
    border-radius: 40px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    z-index: 2; 
}

#whitebox {
    background-color: white;
    margin-top: -60px; 
    height: 189px;
    width: 240px;
    position: relative; 
    z-index: 0; 
    border: 1px solid black;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
#name {
    color: black;
    position: relative;
    z-index: 3;
    font-size: 20px;
    margin-bottom: 4px;    
    font-family: "Belgrano", serif;
}
#bio {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: "Tinos", serif;
}
#fb {
    border-radius: 50%;
    margin-left: 100px;
    position: absolute;
    z-index: 3;
    top: 135px;
}
#tw {
    margin-left: 120px;
    position: absolute;
    z-index: 3;
    top: 127px;  
}
#ig {
    margin-left: 155px;
    position: absolute;
    z-index: 3;
    top: 131px;  
}
#yt {
    margin-left: 190px;
    position: absolute;
    z-index: 3;
    top: 135px; 
}
#social {
    margin-left: 25px;
    position: absolute;
    bottom: 532px;
    
}
#sub {
    margin-left: 141px;
    position: absolute;
    z-index: 3;
    top: 188px;
    background-color: #3e75f9;
    border: none;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 13px;
    font-size: 13px;
}
#message {
    margin-left: 190px;
    position: absolute;
    z-index: 3;
    top: 174px;
    background-color: #3e75f9;
    border: none;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 13px;
    font-size: 13px;
}
#heart {
    margin-left: 95px;
    position: absolute;
    z-index: 3;
    top: 205px;            
}
#heartt {
    margin-left: 114px;
    position: absolute;
    z-index: 3;
    top: 193px;       
    font-size: 13px;
}
#comment {
    margin-left: 178px;
     
    position: absolute;
    z-index: 3;
    top: 202px;
}
#commentt {
    margin-left: 197px;
    
    position: absolute;
    z-index: 3;
    top: 193px;       
    font-size: 13px;
}
#share {
    margin-left: 256px;
     
    position: absolute;
    z-index: 3;
    top: 202px;
}
#sharee {
    margin-left: 279px;    
    position: absolute;
    z-index: 3;
    top: 193px;       
    font-size: 13px;
}
#react {
    
    position: absolute;
    bottom: 545px;
    left: -10px;
}
#god {
    margin-top: 200px;
}
#but {
    position: absolute;
    bottom: 532px;
}
